<app-navbar></app-navbar>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>LOGIN</b>
    </div>
    <div class="card-body p-4">
      <label class="lb">E-mail</label>
      <input class="form-control m-2" type="email" placeholder="Inserir e-mail..." [(ngModel)]="usuario.email">
      <label class="lb">Password</label>
      <input class="form-control m-2" type="password" placeholder="Inserir password..." [(ngModel)]="usuario.password">
      <button class="btn btn-primary btn-block m-2" (click)="Ingressar()">Entrar</button>
      <button class="btn btn-info btn-block m-2" (click)="IngressarComGoogle()">Entrar com Google</button>
      <br>
      <label>Não tem cadastro? <a href="#">Registre-se!</a></label>
      <br>
      <br>
      <button class="btn btn-info btn-block m2" (click)="obterUsuarioLogado()">Usuario Logado</button>
      <br>
      <br>
      <button class="btn btn-info btn-block m2" (click)="logout()">Logout</button>
    </div>
    <div>

    </div>
  </div>
</div>
